
img#about_us{
	max-width: 100%;
	height: 130px;
	width:100%;
	padding-bottom: 10px;
}
p#about_us_para1{
	padding: 30px 20px 0px 30px;
	text-indent: 30px;
}
div#container_text_about_us{
	padding: 0px 30px 0px -20px;
	margin-top: 50px;
	margin-left: 0px;
	width: 100%;
}
ul#ul_vision{
	list-style-type: none;
	margin-left: -20px;
}
li#li_title_mission{
	margin-top: 30px;
}
span#title_vision{
	padding: 5px 15px;
	box-shadow:inset 5px 0px 5px  #7EB6FF ;
	color: #563f46;
	font-weight: bold;
	font-size: 18px;
font-family: "Arial",Verdana, sans-serif;
}
ul#ul_vision_content{
	font-size: 18px;
	margin-top: 20px;
	list-style-type: disc;
font-family: "Arial",Verdana, sans-serif;
}
span#title_mission{
	padding: 5px 20px;
	box-shadow:inset 10px 0px 5px  #7EB6FF ;
	color: #563f46;
	font-weight: bold;
	font-size: 18px;
font-family: "Arial",Verdana, sans-serif;
}
ul#ul_mission_content{
	font-size: 18px;
	margin-top: 20px;
	list-style-type: disc;
font-family: "Arial",Verdana, sans-serif;
}
