

img#contactus{
	max-width: 100%;
	height: 130px;
	width:100%;
}
h2{
	margin-top: 50px;
}
span#content_title{
	padding: 15px;
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	background-color: #93DB70;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}
form#contact_form{
	padding-right:10px;
	margin-top: 50px;
}
div#address_details{
	padding-right: 0px;
	line-height: -10px;
	padding-top: 0px;

}
#contact_form .glyphicon-map-marker,
#contact_form .glyphicon-phone,
#contact_form .glyphicon-envelope{
	margin-left: -20px;
	padding: 10px 10px 0px 50px;
	text-indent: 50px;
}
p{
	font-family: "Times New Roman", Times, serif;
}
p#address_title{
	margin: -30px 0px 0px -20px;
	padding: 30px 20px 0px 30px;
	text-indent: 50px;
	font-size: 18spx;
	
}
span#address_line1{
	margin-left: 3px;
	font-family: "Times New Roman", Times, serif;
}
p#address_line2{
	margin: 0px 0px 0px 0px;
	padding: 5px 20px 0px 40px;
	text-indent: 75px;
	
}
p#address_line3{
	margin: 0px 0px 0px 0px;
	padding: 5px 20px 0px 40px;
	text-indent: 75px;
	
}
p#address_phone{
	padding-top: 0px;
	margin: 0px 0px 0px 0px;
	
}
p#address_email{
	padding-top:0px;
	
}
