
/*#btn_ads_banner{
	position: fixed;
	bottom: 140px;
	right: 0;	
}*/
div#ads_banner{
	height: 140px;
	width: 250px;
	border:1px solid black;
	/*background-image: url("/images/navi5.jpg");*/
	background-size: cover;
	position: fixed;
	bottom: 35px;
	right: 0;
	z-index: 99;
	box-shadow: -2px -2px 5px gray;
	background-color: lightgray;
}
p#hotdeal{
	/*border:1px solid red;*/
	background-color: lightgray	;
	font-weight: bolder;
	padding-left: 5px;
	margin-bottom: 0px;
}
button#btn_ads_banner{
	float: right;
	height: 20px;
}
div#ads_banner > div#ad_details{
	clear: right;
	height: 116px;
	width: 248px;
	position: absolute;
	bottom: 0px;

	/*background-color: lightgray;*/
	/*border:1px solid blue;*/
}
div#ad_details > img{
	
	height: 100px;
	width: 100px;
	position: absolute;
	top: 5px;
	left: 5px;
}
div#ad_details > div#ad_description{
	
	height: 100px;
	width: 140px;
	position: absolute;
	top: 5px;
	left: 105px;
}

#contact_us_ad{
	height: 115px;
	width: 40px;
	position: fixed;
	left:0px;
	top:250px;
	border:1px solid #3A539B;
	/*word-wrap: break-word;*/
	background-color: #3A539B;
	color: white;
	z-index: 999;
	/*transform: rotate(-90deg);*/

}
#contact_details_letter > 	[id^="span_contact_us_"]
{
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

/*#contact_details_letter > #span_contact_us_c,#span_contact_us_o,#span_contact_us_n,#span_contact_us_t,#span_contact_us_a{
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	/*font-weight: bolder;*/
/*}*/
#span_contact_us_c{
	
	top: 90px;
	left:10px;
	transform : scale(1.5,1.5) rotate(-90deg);
}
#span_contact_us_o{
	
	top: 75px;
	transform : scale(1,1.5) rotate(-90deg);
}
#span_contact_us_n{
	transform: rotate(-90deg);
	top: 60px;
	left: 13px;
	transform : scale(1,1.5) rotate(-90deg);
}
#span_contact_us_t{
	
	top: 45px;
	transform : scale(1,1.5) rotate(-90deg);
}
#span_contact_us_a{
	
	top: 30px;
	transform : scale(1,1.5) rotate(-90deg);
}
#span_contact_us_c1{
	
	top:15px;
	transform : scale(1,1.5) rotate(-90deg);
}
#span_contact_us_t1{
	top: 0px;
	transform : scale(1,1.5) rotate(-90deg);
}
#link_facebook{
	width: 38px;
	height: 35px;
	position: fixed;
	right: 0;
	top: 250px;
	/*border: 1px solid black;*/
}
#link_facebook>img{
	width: 38px;
	height: 34px;
	position: absolute;
	left: 0;
}
#link_twitter{
	width: 38px;
	height: 34px;
	position: fixed;
	right: 0;
	top: 282px;
	/*background-color: yellow;*/
	/*background-image: url(/images/facebook_logo1.PNG);*/
	/*background-size: contain;*/
	/*border: 1px solid black;*/
}
#link_twitter>img{
	width: 34px;
	height: 32px;
	position: absolute;
	right: 2px;
}